jax-ws-test/src/main/wsdl/counter_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Portions of this file Copyright 1999-2005 University of Chicago
  Portions of this file Copyright 1999-2005 The University of Southern California.

  This file or a portion of this file is licensed under the
  terms of the Globus Toolkit Public License, found at
  http://www.globus.org/toolkit/download/license.html.
  If you redistribute this file, with or without
  modifications, you must include this notice in the file.
-->
<definitions name="Counter"
             targetNamespace="http://counter.com"
             xmlns:tns="http://counter.com"
             xmlns:wsa="http://www.w3.org/2005/08/addressing"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsrp=
                     "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
             xmlns:wsrpw=
                     "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
        >
    <wsdl:import
            namespace=
                    "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
            location="wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"/>

    <types>

        <xsd:schema targetNamespace="http://counter.com"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:tns="http://counter.com"
                    elementFormDefault="qualified">

            <xsd:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="ws-addr.xsd"/>

            <xsd:element name="createCounter">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="createCounterResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="epr" type="wsa:EndpointReferenceType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="add">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="value" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="addResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="value" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="CounterRP">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Value" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="CounterKey" type="xsd:long"/>

        </xsd:schema>
    </types>

    <message name="CreateCounterInputMessage">
        <part name="parameters" element="tns:createCounter"/>
    </message>
    <message name="CreateCounterOutputMessage">
        <part name="parameters" element="tns:createCounterResponse"/>
    </message>

    <message name="AddInputMessage">
        <part name="parameters" element="tns:add"/>
    </message>

    <message name="AddOutputMessage">
        <part name="parameters" element="tns:addResponse"/>
    </message>

    <portType name="CounterPortType"
              wsdlpp:extends="wsrpw:GetResourceProperty"
              wsrp:ResourceProperties="tns:CounterRP">
        <operation name="createCounter">
            <input message="tns:CreateCounterInputMessage"/>
            <output message="tns:CreateCounterOutputMessage"/>
        </operation>

        <operation name="add">
            <input message="tns:AddInputMessage"/>
            <output message="tns:AddOutputMessage"/>
        </operation>

    </portType>

</definitions>
