jax-ws-test/src/main/wsdl/counters_port_type_flattened.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CounterFactory" targetNamespace="http://counter.com" xmlns:tns="http://counter.com" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="wsrf-WS-ResourceProperties-1.2-draft-01.wsdl">
    </wsdl:import>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://counter.com" xmlns:tns="http://counter.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="ws-addr.xsd"/>

            <xsd:element name="createCounter">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="createCounterResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="epr" type="wsa:EndpointReferenceType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>


        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateCounterOutputMessage">
    <wsdl:part name="parameters" element="tns:createCounterResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateCounterInputMessage">
    <wsdl:part name="parameters" element="tns:createCounter">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CounterFactoryPortType">
    <wsdl:operation name="createCounter">
      <wsdl:input message="tns:CreateCounterInputMessage">
    </wsdl:input>
      <wsdl:output message="tns:CreateCounterOutputMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
