jax-ws-test/src/main/wsdl/counter_port_type_flattened.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Counter" targetNamespace="http://counter.com"
                  xmlns:tns="http://counter.com"
                  xmlns:gtwsdl0="http://docs.oasis-open.org/wsrf/rw-2"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
                  xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
                  xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
                  xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
                  xmlns="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
                 location="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"/>

    <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
                 location="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"/>
    
    <wsdl:import namespace="http://docs.oasis-open.org/wsrf/rw-2"
                 location="http://docs.oasis-open.org/wsrf/rw-2.wsdl"/>
                 
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://counter.com"
                    xmlns:tns="http://counter.com"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:import namespace="http://docs.oasis-open.org/wsrf/rp-2"
                        schemaLocation="http://docs.oasis-open.org/wsrf/rp-2.xsd"/>

            <xsd:import namespace="http://www.w3.org/2005/08/addressing"
                        schemaLocation="http://www.w3.org/2005/08/addressing/ws-addr.xsd"/>

            <xsd:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd"
                        schemaLocation="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd"/>

            <!--<xsd:element name="createCounter">-->
            <!--<xsd:complexType>-->
            <!--<xsd:sequence/>-->
            <!--</xsd:complexType>-->
            <!--</xsd:element>-->

            <!--<xsd:element name="createCounterResponse">-->
            <!--<xsd:complexType>-->
            <!--<xsd:sequence>-->
            <!--<xsd:element name="epr" type="wsa:EndpointReferenceType"/>-->
            <!--</xsd:sequence>-->
            <!--</xsd:complexType>-->
            <!--</xsd:element>-->

            <!--<xsd:element maxOccurs="unbounded" minOccurs="0" ref="wsrp:QueryExpressionDialect"/>-->

            <xsd:element name="add">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="value" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="addResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="value" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="Value" type="xsd:int"/>
            <xsd:element name="Status" type="xsd:int"/>

            <xsd:element name="CounterRP">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:Value"/>
                        <xsd:element ref="tns:Status"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="CounterKey" type="xsd:long"/>
                        
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="AddInputMessage">
        <wsdl:part name="parameters" element="tns:add">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AddOutputMessage">
        <wsdl:part name="parameters" element="tns:addResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CounterPortType" wsrp:ResourceProperties="tns:CounterRP tns:Status">
        <wsdl:operation name="add">
            <wsdl:input message="tns:AddInputMessage">
            </wsdl:input>
            <wsdl:output message="tns:AddOutputMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetResourceProperty">
            <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest">
            </wsdl:input>
            <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse">
            </wsdl:output>
            <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault">
            </wsdl:fault>
            <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryResourceProperties">
            <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest">
            </wsdl:input>
            <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse">
            </wsdl:output>
            <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault">
            </wsdl:fault>
            <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault">
            </wsdl:fault>
            <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault">
            </wsdl:fault>
            <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault">
            </wsdl:fault>
            <wsdl:fault name="ResourceUnknownFault" message="gtwsdl0:ResourceUnknownFault">
            </wsdl:fault>
            <wsdl:fault name="ResourceUnavailableFault" message="gtwsdl0:ResourceUnavailableFault">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Destroy">
            <wsdl:input message="wsrlw:DestroyRequest">
            </wsdl:input>
            <wsdl:output message="wsrlw:DestroyResponse">
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault" message="wsrlw:ResourceUnknownFault">
            </wsdl:fault>
            <wsdl:fault name="ResourceNotDestroyedFault" message="wsrlw:ResourceNotDestroyedFault">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SetTerminationTime">
            <wsdl:input message="wsrlw:SetTerminationTimeRequest">
            </wsdl:input>
            <wsdl:output message="wsrlw:SetTerminationTimeResponse">
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault" message="wsrlw:ResourceUnknownFault">
            </wsdl:fault>
            <wsdl:fault name="UnableToSetTerminationTimeFault" message="wsrlw:UnableToSetTerminationTimeFault">
            </wsdl:fault>
            <wsdl:fault name="TerminationTimeChangeRejectedFault" message="wsrlw:TerminationTimeChangeRejectedFault">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
