jax-ws-test/src/main/wsdl/counter_port_type_flattened.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Counter" targetNamespace="http://counter.com"
                  xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
                  xmlns:tns="http://counter.com"
                  xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
                  xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
                 location="wsrf-WS-ResourceProperties-1.2-draft-01.wsdl">
    </wsdl:import>
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://counter.com" xmlns:tns="http://counter.com"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="ws-addr.xsd"/>

            <!--<xsd:element name="createCounter">-->
            <!--<xsd:complexType>-->
            <!--<xsd:sequence/>-->
            <!--</xsd:complexType>-->
            <!--</xsd:element>-->

            <!--<xsd:element name="createCounterResponse">-->
            <!--<xsd:complexType>-->
            <!--<xsd:sequence>-->
            <!--<xsd:element name="epr" type="wsa:EndpointReferenceType"/>-->
            <!--</xsd:sequence>-->
            <!--</xsd:complexType>-->
            <!--</xsd:element>-->

            <xsd:element name="add">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="value" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="addResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="value" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="Value" type="xsd:int"/>
            <xsd:element name="Status" type="xsd:int"/>

            <xsd:element name="CounterRP">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:Value"/>
                        <xsd:element ref="tns:Status"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="CounterKey" type="xsd:long"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="AddInputMessage">
        <wsdl:part name="parameters" element="tns:add">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AddOutputMessage">
        <wsdl:part name="parameters" element="tns:addResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CounterPortType" wsrp:ResourceProperties="tns:CounterRP tns:Status">
        <wsdl:operation name="add">
            <wsdl:input message="tns:AddInputMessage">
            </wsdl:input>
            <wsdl:output message="tns:AddOutputMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetResourceProperty">
            <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest">
            </wsdl:input>
            <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse">
            </wsdl:output>
            <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault">
            </wsdl:fault>
            <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
