jax-ws-test/CounterPortTypeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CounterPortTypeService" targetNamespace="http://counter.com" xmlns:tns="http://counter.com" xmlns:ns1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" xmlns:tns="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd">
<xs:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd"/>
<xs:element name="Delete" nillable="true" type="tns:DeleteType"/>
<xs:element name="GetMultipleResourceProperties">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="ResourceProperty" type="xs:QName"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetMultipleResourcePropertiesResponse">
<xs:complexType>
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetResourceProperty" nillable="true" type="xs:QName"/>
<xs:element name="GetResourcePropertyResponse">
<xs:complexType>
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Insert" nillable="true" type="tns:InsertType"/>
<xs:element name="InvalidQueryExpressionFault" nillable="true" type="tns:InvalidQueryExpressionFaultType"/>
<xs:element name="InvalidResourcePropertyQNameFault" nillable="true" type="tns:InvalidResourcePropertyQNameFaultType"/>
<xs:element name="InvalidSetResourcePropertiesRequestContentFault" nillable="true" type="tns:InvalidSetResourcePropertiesRequestContentFaultType"/>
<xs:element name="QueryEvaluationErrorFault" nillable="true" type="tns:QueryEvaluationErrorFaultType"/>
<xs:element name="QueryExpression" nillable="true" type="tns:QueryExpressionType"/>
<xs:element name="QueryResourceProperties">
<xs:complexType>
<xs:sequence>
<xs:element name="QueryExpression" type="tns:QueryExpressionType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="QueryResourcePropertiesResponse">
<xs:complexType mixed="true">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ResourcePropertyValueChangeNotification" nillable="true" type="tns:ResourcePropertyValueChangeNotificationType"/>
<xs:element name="ResourceUnknownFault" nillable="true" type="tns:ResourceUnknownFaultType"/>
<xs:element name="SetResourceProperties">
<xs:complexType>
<xs:sequence>
<xs:choice maxOccurs="unbounded" minOccurs="0">
<xs:element name="Delete" type="tns:DeleteType"/>
<xs:element name="Update" type="tns:UpdateType"/>
<xs:element name="Insert" type="tns:InsertType"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="SetResourcePropertiesResponse">
<xs:complexType>
<xs:sequence/>
</xs:complexType>
</xs:element>
<xs:element name="SetResourcePropertyRequestFailedFault" nillable="true" type="tns:SetResourcePropertyRequestFailedFaultType"/>
<xs:element name="UnableToModifyResourcePropertyFault" nillable="true" type="tns:UnableToModifyResourcePropertyFaultType"/>
<xs:element name="UnknownQueryExpressionDialectFault" nillable="true" type="tns:UnknownQueryExpressionDialectFaultType"/>
<xs:element name="Update" nillable="true" type="tns:UpdateType"/>
<xs:complexType name="UpdateType">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InvalidQueryExpressionFaultType">
<xs:complexContent>
<xs:extension base="ns1:BaseFaultType">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="UnableToModifyResourcePropertyFaultType">
<xs:complexContent>
<xs:extension base="ns1:BaseFaultType">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="SetResourcePropertyRequestFailedFaultType">
<xs:complexContent>
<xs:extension base="ns1:BaseFaultType">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ResourceUnknownFaultType">
<xs:complexContent>
<xs:extension base="ns1:BaseFaultType">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="UnknownQueryExpressionDialectFaultType">
<xs:complexContent>
<xs:extension base="ns1:BaseFaultType">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="InvalidResourcePropertyQNameFaultType">
<xs:complexContent>
<xs:extension base="ns1:BaseFaultType">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="QueryEvaluationErrorFaultType">
<xs:complexContent>
<xs:extension base="ns1:BaseFaultType">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="InvalidSetResourcePropertiesRequestContentFaultType">
<xs:complexContent>
<xs:extension base="ns1:BaseFaultType">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="InsertType">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DeleteType">
<xs:sequence/>
<xs:attribute name="ResourceProperty" type="xs:QName" use="required"/>
</xs:complexType>
<xs:complexType name="ResourcePropertyValueChangeNotificationType">
<xs:sequence>
<xs:element name="OldValue">
<xs:complexType>
<xs:sequence>
<xs:any namespace="##other" processContents="lax"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="NewValue" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:any namespace="##other" processContents="lax"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType mixed="true" name="QueryExpressionType">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
</xs:sequence>
<xs:attribute name="Dialect" type="xs:anyURI"/>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.w3.org/2005/08/addressing" xmlns:tns="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd">
<xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="http://www.w3.org/2006/03/addressing/ws-addr.xsd"/>
<xs:element name="BaseFault" nillable="true" type="tns:BaseFaultType"/>
<xs:complexType name="BaseFaultType">
<xs:sequence>
<xs:element name="Timestamp" type="xs:dateTime"/>
<xs:element minOccurs="0" name="Originator" type="ns1:EndpointReferenceType"/>
<xs:element minOccurs="0" name="ErrorCode">
<xs:complexType mixed="true">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
</xs:sequence>
<xs:attribute name="dialect" type="xs:anyURI" use="required"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:complexType>
</xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="Description">
<xs:complexType>
<xs:simpleContent>
<xs:extension base="xs:string">
<xs:attribute ref="xml:lang"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
</xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="FaultCause" type="tns:BaseFaultType"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://counter.com" xmlns:ns1="http://www.w3.org/2005/08/addressing" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://counter.com">
<xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="http://www.w3.org/2006/03/addressing/ws-addr.xsd"/>
<xs:element name="CounterKey" nillable="true" type="xs:string"/>
<xs:element name="CounterRP">
<xs:complexType>
<xs:sequence>
<xs:element name="Value" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Value" nillable="true" type="xs:int"/>
<xs:element name="add">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="addResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="createCounter">
<xs:complexType>
<xs:sequence/>
</xs:complexType>
</xs:element>
<xs:element name="createCounterResponse">
<xs:complexType>
<xs:sequence>
<xs:element ref="ns1:EndpointReference"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetResourceProperty">
    <wsdl:part name="GetResourcePropertyRequest" element="ns1:GetResourceProperty">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidResourcePropertyQNameFault">
    <wsdl:part name="InvalidResourcePropertyQNameFault" element="ns1:InvalidResourcePropertyQNameFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part name="parameters" element="tns:addResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCounter">
    <wsdl:part name="parameters" element="tns:createCounter">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCounterResponse">
    <wsdl:part name="parameters" element="tns:createCounterResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ResourceUnknownFault">
    <wsdl:part name="ResourceUnknownFault" element="ns1:ResourceUnknownFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResourcePropertyResponse">
    <wsdl:part name="GetResourcePropertyResponse" element="ns1:GetResourcePropertyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="add">
    <wsdl:part name="parameters" element="tns:add">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CounterResource">
    <wsdl:operation name="createCounter">
      <wsdl:input name="createCounter" message="tns:createCounter">
    </wsdl:input>
      <wsdl:output name="createCounterResponse" message="tns:createCounterResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input name="add" message="tns:add">
    </wsdl:input>
      <wsdl:output name="addResponse" message="tns:addResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <wsdl:input name="GetResourceProperty" message="tns:GetResourceProperty">
    </wsdl:input>
      <wsdl:output name="GetResourcePropertyResponse" message="tns:GetResourcePropertyResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="tns:InvalidResourcePropertyQNameFault">
    </wsdl:fault>
      <wsdl:fault name="ResourceUnknownFault" message="tns:ResourceUnknownFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CounterPortTypeServiceSoapBinding" type="tns:CounterResource">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createCounter">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createCounter">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createCounterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="add">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetResourceProperty">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetResourcePropertyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CounterPortTypeService">
    <wsdl:port name="CounterPortTypePort" binding="tns:CounterPortTypeServiceSoapBinding">
      <soap:address location="http://localhost:9090/CounterPortTypePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
