systests-parent/systests-client/src/main/wsdl/counter_flattened.wsdl

<?xml version='1.0' encoding='UTF-8'?><definitions name="Counter" targetNamespace="http://counter.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://counter.com" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl">
  <import location="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl">
    </import>
  <types>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://counter.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://counter.com" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:import namespace="http://counter.com" schemaLocation="counter.xsd" />

        </xsd:schema>
  </types>
  <message name="AddInputMessage">
    <part element="tns:add" name="parameters">
    </part>
  </message>
  <message name="CreateCounterRequest">
    <part element="tns:createCounter" name="request">
    </part>
  </message>
  <message name="CreateCounterResponse">
    <part element="tns:createCounterResponse" name="response">
    </part>
  </message>
  <message name="AddOutputMessage">
    <part element="tns:addResponse" name="parameters">
    </part>
  </message>
  <portType name="CounterPortType" wsrp:ResourceProperties="tns:CounterRP">
    <operation name="createCounter">
      <input message="tns:CreateCounterRequest">
    </input>
      <output message="tns:CreateCounterResponse">
    </output>
    </operation>
    <operation name="add">
      <input message="tns:AddInputMessage">
    </input>
      <output message="tns:AddOutputMessage">
    </output>
    </operation>
    <operation name="GetResourceProperty">
      <input message="wsrpw:GetResourcePropertyRequest" name="GetResourcePropertyRequest">
    </input>
      <output message="wsrpw:GetResourcePropertyResponse" name="GetResourcePropertyResponse">
    </output>
      <fault message="wsrpw:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault">
    </fault>
      <fault message="wsrpw:ResourceUnknownFault" name="ResourceUnknownFault">
    </fault>
    </operation>
  </portType>
</definitions>
