systests/src/main/wsdl/counter_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Portions of this file Copyright 1999-2005 University of Chicago
  Portions of this file Copyright 1999-2005 The University of Southern California.

  This file or a portion of this file is licensed under the
  terms of the Globus Toolkit Public License, found at
  http://www.globus.org/toolkit/download/license.html.
  If you redistribute this file, with or without
  modifications, you must include this notice in the file.
-->
<definitions name="Counter"
             targetNamespace="http://counter.com"
             xmlns:tns="http://counter.com"
             xmlns:wsa="http://www.w3.org/2005/08/addressing"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsrp=
                     "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
             xmlns:wsrpw=
                     "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
        >
    <wsdl:import
            namespace=
                    "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
            location="wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"/>

    <types>
        
        <xsd:schema targetNamespace="http://counter.com"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    elementFormDefault="qualified" >

            <xsd:import namespace="http://counter.com" schemaLocation="counter.xsd"/>

        </xsd:schema>
    </types>

    <message name="CreateCounterRequest">
        <part name="request" element="tns:createCounter"/>
    </message>
    <message name="CreateCounterResponse">
        <part name="response" element="tns:createCounterResponse"/>
    </message>

    <message name="AddInputMessage">
        <part name="parameters" element="tns:add"/>
    </message>

    <message name="AddOutputMessage">
        <part name="parameters" element="tns:addResponse"/>
    </message>

    <portType name="CounterPortType"
              wsdlpp:extends="wsrpw:GetResourceProperty"
              wsrp:ResourceProperties="tns:CounterRP">
        <operation name="createCounter">
            <input message="tns:CreateCounterRequest"/>
            <output message="tns:CreateCounterResponse"/>
        </operation>

        <operation name="add">
            <input message="tns:AddInputMessage"/>
            <output message="tns:AddOutputMessage"/>
        </operation>

    </portType>

</definitions>
